@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.eot");
    src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book.woff") format("woff"),
        url("../fonts/FuturaPT-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.eot");
    src: url("../fonts/FuturaPT-Bold.eot#iefix") format("embedded-opentype"),
        url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold.woff") format("woff"),
        url("../fonts/FuturaPT-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
